@tailwind base;
@tailwind components;
@tailwind utilities;

:root, body, #app {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  mix-blend-mode: multiply;
}