@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-font-family: Avenir, Helvetica, Arial, sans-serif;
}

:root,
body,
#app {
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
  font-family: var(--app-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  mix-blend-mode: multiply;
}
